<!-- <div class="container mt-5">
  <h3>User Data Form</h3>
  <form [formGroup]="myForm" >
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>

      <input id="name" type="text" class="form-control" formControlName="name" [ngClass]="{'invalid': myForm.get('name')?.invalid && myForm.get('name')?.touched}">

      <div *ngIf="myForm.get('name')?.touched && myForm.get('name')?.invalid">
       
        <small class="text-danger" *ngIf="myForm.get('name')?.errors?.['required']">Name is required.</small>
        <small class="text-danger" *ngIf="myForm.get('name')?.errors?.['minlength']">Name must be at least 3 characters.</small>
        <small class="text-danger" *ngIf="myForm.get('name')?.errors?.['maxlength']">Name must be max 7 characters.</small>
      </div>

    </div>

    <div class="mb-3">
      <label for="email" class="form-label" >Email</label>

      <input id="email" type="email" class="form-control" formControlName="email" [ngClass]="{'invalid':myForm.get('email')?.invalid && myForm.get('email')?.touched}">

      <div *ngIf="myForm.get('email')?.touched && myForm.get('email')?.invalid">
        <small class="text-danger" *ngIf="myForm.get('email')?.errors?.['required']">Email is required.</small>
        <small class="text-danger" *ngIf="myForm.get('email')?.errors?.['email']">Email is invalid.</small>
      </div>

    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
  </form>
</div> -->
<app-navbar></app-navbar>

<router-outlet></router-outlet>