<div class="container mt-5">
  <h3>Post List</h3>

  <div class=" row">
    <div class="col-md-4 my-1" *ngFor="let post of posts" >
        <div class="body card shadow mx-1 h-100 p-1">
            <h5 style="height: 50;">{{ post?.title }}</h5>
            <p style="height: 200;">{{ post?.body }}</p>
            <button class="btn btn-info mb-1" routerLink="/update/{{ post.id }}">Edit</button>
            <button class="btn btn-danger" (click)="deletePost(post.id)">Delete</button>
        </div>
    </div>
</div>
</div>
